# Ignore all OSX hidden files
*.DS_Store

# Ignore text editor
.idea/*

# Python intermediate files
__pycache__
*.pyc

# Ignore generated input files
input20.in
input35.in
input50.in
inputs.zip

phase2_inputs/*
phase2_outputs/*
